body{
    background-color: #ffcc00;
    font-family: Arial;
    color: black;
    font-style: italic;
}

h1{
    color: black;
    text-align: center;
}

h2{
    color: black;
    text-align: center;
    text-decoration: underline;
}

.header{
    text-align: center;
}

.text{
    font-size: 24px;
    text-align: center;
}

.btn{
    background-color: goldenrod;
    font-size: 24px;
    border-radius: 25px;
}
/*.btn:hover{*/
    /*background-color: darkgoldenrod;*/
/*}*/

.links{
    border-radius: 25px;
    width: 60px;
    height: 60px;
}

.modal-content{
    background-color: goldenrod;
}

.jumbotron{
    background-color: #ffcc00;
}


#container{
    border-radius: 25px;
    font-size: 40px;
    background-color: darkgoldenrod;
    text-align: center;
}

.select-button{
    background-color: goldenrod;
    border-radius: 25px;
}

    /*.select-button:hover{*/
        /*background-color: goldenrod;*/
    /*}*/

.name-input{
    background-color: goldenrod;
    border-radius: 25px;
}

#playersDiv{
    border-style: double;
    border-color: black;
    border-radius: 25px;
    width: 20%;
}

#listDiv{
    background-color: aqua;
    border-radius: 25px;
    position: absolute;
    top: 77%;
    width: 15%;
}


.questions{
    border-radius: 25px;
    border: solid;
    border-color: black;
    margin-bottom: 10px;
}

.japanese{
    background-color: black;
    width: 30%;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
}


.selected{
    background-color: gray;
}

.selector{

    width: 50%;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}


