<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="Gorin, Kispest, Karate, Küzdősport, Önvédelem, Sport, Goju"/>
    <meta name="description" content="Gorin KSE hivatalos weboldala"/>
    <meta name="author" content="Vogronics Patrik"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gorin KSE</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Bangers|Sacramento" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />

</head>
<body>
<div class="header">
    <div class="img"> <img src="/images/gorin.png" /></div>
</div>

<div class="jumbotron" id="container">

    <h1>Válaszd ki a helyes magyar megfelelőjét az alábbi japán kifejezéseknek!</h1>

    <div class="questions" th:each="data, iterStat : ${datas}" data-th-attr="data-japanese=${data.getKey()}">

        <div class="japanese" th:text="${data.getKey()}"></div>

        <button th:each="oneResult, iterStat : ${data.getValue()}"
                data-th-attr="data-japanese=${data.getKey()}, data-hungarian=${oneResult}"
                class="game-button btn btn-warning"
                th:text="${oneResult}"></button>

    </div>

    <button type="submit"  class="validate-button btn btn-default btn-lg btn-block">Kész</button>


</div>



<script th:src="@{/js/gameEvent.js}"></script>

</body>
</html>