<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="Gorin, Kispest, Karate, Küzdősport, Önvédelem, Sport, Goju"/>
    <meta name="description" content="Gorin KSE hivatalos weboldala"/>
    <meta name="author" content="Vogronics Patrik"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gorin KSE</title>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

</head>
<body>
<div class="header">
    <div class="img"> <img src="/images/gorin.png" /></div>
</div>

<div class="container">


<h1>Üdvözöljük a Gorin Karate Sport Egyesület oldalán!</h1>
<!--<h2>Aktuális</h2>-->

<!--<div class="text">-->
    <!--pl Dubne 2017 március 24-26 és pár kép és élményleírás-->
<!--</div>-->

<h2>Egyesületünk</h2>
<div class="text">
    Egyesületünk a karate harcművészet és sport gyakorlásának, eszmeiségének továbbadása a céljából jött létre.
    Egyesületünk tevékenységét - a japán eredetű karate harcművészet alapelveinek és
    hagyományainak felhasználásával - az egészséges életmódra nevelés és sportban való sikerek elérése érdekében
    folytatja, stabil morális alap biztosításával.
</div>

<h2>Edzéseink</h2>
<div class="text">
    <u>Helyszín:</u> 1191 Szabó Ervin utca 4.<br> </br>
<u>Gyerek</u><br>Kedd: 17:30-19:00</br>Péntek: 18:00-20:30<br> </br>
    <u>Felnőtt</u><br>Kedd: 20:00-21:00</br>Csütörtök: 19:15-20:45

</div>
<h2></h2>
<!--<h2>Egyesület Vezetői</h2>-->
<!--<div class="text">-->
    <!--Elnök:<button type="button"  class="btn " data-toggle="modal" data-target="#myModalBalazs">Tóth Balázs</button>-->
    <!--<br></br>-->
    <!--Alelnök:<button type="button"  class="btn " data-toggle="modal" data-target="#myModalCsiszi">dr. Csiszár Attila Zoltán</button> <br></br>-->
    <!--Elnökségi tag:<button type="button"  class="btn " data-toggle="modal" data-target="#myModalFatime">Vogronics Fatime</button>-->
<!--</div>-->

<h2>Nevünk eredete</h2>
<div class="text">
    Az alapító tagok fentiek okán adták az Egyesületnek a Gorin Karate Sportegyesület nevet,
    amely Japán leghíresebb, egyben legmegosztóbb kardvívójának,
    Mijamoto Muszasinak fő tanításait összefoglaló, „Gorin no sho” című munkájából ered.
    Muszasi ebben foglalta össze tapasztalatait és tanításait.
    A Gorin szó jelentése öt gyűrű, amely bizonyos fordításokban öt elemként jelenik meg.
    Az elnevezés arra az öt elemre utal, amelyekről elnevezte a tanításait felölelő mű öt részét:
    Föld könyve, Víz könyve, Tűz könyve, Szél könyve és Üresség könyve.
    Mijamoto Muszasi az Öt gyűrű könyvében az öt őselem szimbólumaira fűzi fel fő tanításait,
    amelynek során az egyszerűbb tanoktól halad az egyre kifinomultabb és elvonatkoztatott tanok felé.

    Az Egyesület neve abból az okból utal a fenti, XVII. századi mű címére, mert úgy gondoljuk,
    hogy a benne foglalt tanítások modern korba történő átültetésével, a karate-do
    keretein belül is egy határozott iránymutatás adható azon gyerekeknek és felnőtteknek,
    akik a karate hosszú útjára lépnek, egyben utal a karate harcművészet történelmi hagyományainak ápolására.
</div>
<h2>Elérhetőségek</h2>
<div class="text">
    <br>e-mail: gorin.kse@gmail.com</br>
    <div class="text">
        <a target="_blank" href="https://www.facebook.com/Gorin-Karate-SE-1451512175093977/?fref=ts"><img class="links" src="/images/facebook.png" /></a>
        <a target="_blank" href="https://www.instagram.com/gorin.karate/"><img  class="links" src="/images/insta.jpg" /></a>
    </div>



</div>
<h2>Egyesületi információk</h2>
<div class="text">
    <br>Székhely: 1191, Budapest, Lehel utca 28.</br>
    <br>Nyilvántartási szám: 01-02-0015765 </br>
    <br>Adószám: 18650428-2-43</br>
    <br>Bankszámlaszám(HUF): Erste bank--> 11600006-00000000-78505771</br>

</div>

<!--<h2>Letölthető dokumentumok</h2>-->
<!--<div class="text">-->
    <!--<br><a href="images/insta.jpg" download="patrik">Alapszabály letöltése</a></br>-->
    <!--<a href="images/insta.jpg" download="patrik">Éves beszámoló letöltése</a>-->
<!--</div>-->

<!-- Modal Balázs -->
<div class="modal fade" id="myModalBalazs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Bemutatkozás</h4>
                </div>
                <div class="modal-body">
                    Balazs

                </div>
        </div>
    </div>
</div>

<!-- Modal Csiszi -->
<div class="modal fade" id="myModalCsiszi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Bemutatkozás</h4>
            </div>
            <div class="modal-body">
                 Csiszi

            </div>
        </div>
    </div>
</div>

<!-- Modal Fatime -->
<div class="modal fade" id="myModalFatime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">Bemutatkozás</h4>
            </div>
            <div class="modal-body">
                Fatime

            </div>
        </div>
    </div>
</div>



</div>
</body>
</html>