<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Gorin KSE</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Bangers|Sacramento" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

</head>
<body>
<div class="header">
    <div class="img"> <img src="/images/gorin.png" /></div>
</div>

<h1>Üdvözöljük a Gorin Karate Sport Egyesület oldalán!</h1>
<h2>Aktuális</h2>
<div class="text">
    pl Dubne 2017 március 24-26 és pár kép és élményleírás
</div>

<h2>Egyesületünk</h2>
<div class="text">
    2009 blablabla
</div>

<h2>Edzéseink</h2>
<div class="text">
    <u>Helyszín:</u>Szabó Ervin valami KMO<br> </br>
<u>Gyerek</u><br>Kedd: 17:30-19:00</br>Péntek: 18:00-20:30<br> </br>
    <u>Felnőtt</u><br>Kedd: 20:00-21:00</br>Csütörtök: 19:15-20:45

</div>
<h2></h2>
<h2>Egyesület Vezetői</h2>
<div class="text">
    Elnök:<button type="button"  class="btn " data-toggle="modal" data-target="#myModal">Tóth Balázs</button>
    <br></br>
    Alelnök:<button type="button"  class="btn " data-toggle="modal" data-target="#myModal">dr. Csiszár Attila Zoltán</button> <br></br>
    Alelnök:<button type="button"  class="btn " data-toggle="modal" data-target="#myModal">Vogronics Fatime</button>
</div>

<h2>Nevünk eredete</h2>
<div class="text">
    gorinosho 5 könyv und so weiter und so for
</div>
<h2>Elérhetőségek</h2>
<div class="text">
    <br>Telefonszám: +3630-483-7106 (Csiszár Attila)</br>
    <div class="text">
        <a target="_blank" href="https://www.facebook.com/Gorin-Karate-SE-1451512175093977/?fref=ts"><img class="links" src="/images/facebook.png" /></a>
        <a target="_blank" href="https://www.instagram.com/gorin.karate/"><img  class="links" src="/images/insta.jpg" /></a>
    </div>


</div>
<h2>Egyesületi információk</h2>
<div class="text">
    <br>Székhely:</br>
    <br>Cégjegyzékszám:</br>
    <br>Adószám:</br>
    <br>Közösségi adószám:</br>
    <br>Bankszámlaszám(HUF):</br>

</div>

















<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Bemutatkozás képpel esetleg

                </div>
        </div>
    </div>
</div>
</body>
</html>